// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { buildHeaders } from '../../internal/headers';
import { RequestOptions } from '../../internal/request-options';
import { path } from '../../internal/utils/path';

export class Pin extends APIResource {
  /**
   * Retrieve the encrypted PIN for a specific card
   */
  retrieve(
    cardID: string,
    params: PinRetrieveParams,
    options?: RequestOptions,
  ): APIPromise<PinRetrieveResponse> {
    const { SessionId } = params;
    return this._client.get(path`/cards/${cardID}/pin`, {
      ...options,
      headers: buildHeaders([{ SessionId: SessionId }, options?.headers]),
    });
  }

  /**
   * Updates the PIN of a specific card by setting the encrypted PIN
   */
  update(cardID: string, params: PinUpdateParams, options?: RequestOptions): APIPromise<void> {
    const { SessionId, ...body } = params;
    return this._client.put(path`/cards/${cardID}/pin`, {
      body,
      ...options,
      headers: buildHeaders([{ Accept: '*/*', SessionId: SessionId }, options?.headers]),
    });
  }
}

/**
 * The encrypted pin
 */
export interface PinRetrieveResponse {
  /**
   * The encrypted pin
   */
  encryptedPin: PinRetrieveResponse.EncryptedPin;
}

export namespace PinRetrieveResponse {
  /**
   * The encrypted pin
   */
  export interface EncryptedPin {
    /**
     * The encrypted pin in base64
     */
    data: string;

    /**
     * The initialization vector in base64
     */
    iv: string;
  }
}

export interface PinRetrieveParams {
  /**
   * Encrypted session ID generated by the user requesting the encrypted PIN
   */
  SessionId: string;
}

export interface PinUpdateParams {
  /**
   * Body param: The encrypted pin
   */
  encryptedPin: PinUpdateParams.EncryptedPin;

  /**
   * Header param: Encrypted session ID generated by the user requesting the
   * encrypted PIN
   */
  SessionId: string;
}

export namespace PinUpdateParams {
  /**
   * The encrypted pin
   */
  export interface EncryptedPin {
    /**
     * The encrypted PIN data
     */
    data: string;

    /**
     * The initialization vector for encryption
     */
    iv: string;
  }
}

export declare namespace Pin {
  export {
    type PinRetrieveResponse as PinRetrieveResponse,
    type PinRetrieveParams as PinRetrieveParams,
    type PinUpdateParams as PinUpdateParams,
  };
}
